.bg-Rv{
    background-color:rgb(35, 25, 66) ;
}
.bg-Uv{
    background-color:rgb(94, 84, 142) ;
}
.bg-Av{
    background-color:rgb(159, 134, 192) ;
}
.bg-Lilac{
    background-color:rgb(190, 149, 196) ;
}
.bg-Lav{
    background-color:rgb(224, 177, 203) ;
}

.color-Rv{
    color:rgb(35, 25, 66) ;
}

body{
    background-image:url(./f95f03fb-b62f-43df-b961-9fd597b9685b.JPG)  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

*{
    font-family: 'Amatic SC', cursive;
    font-family: 'Tinos', serif;
}

#socials{
    position: absolute;
    bottom: 8%;
}